@value colors: "./colors.css";
@value darkBlue, darkBlueRGB, lightGray, lightGrayRGB, blackBlue, blackBlueRGB from colors;

.component {
  background: darkBlue;
  color: lightGray;
  border-color: blackBlue;
}

.component pre{
  color: lightGray;
  background-color: transparent;
}

.highlight {
  border-color: red;
}

.title {
  color: lightGray;
  background: #16181d;
}

.title:hover {
  background: rgba(blackBlueRGB, 0.4);
}

.copyButton{
  background-color: transparent;
  border-color: blackBlue;
  color: rgb(150 150 150);;
}
