@value borderRadius: 5px;

.component * {
  box-sizing: border-box;
}

.component {
  font-family: arial;
  line-height: normal;
  border-radius: borderRadius;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  transition: border-color 0.2s ease;
  position: relative;
}

.component pre {
  font-size: 1em;
  font-family: monospace;
  border: none;
}

.title {
  padding: 0.5rem 1rem;
  user-select: none;
  cursor: pointer;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.count {
  float: right;
}

.content {
  padding: 1rem;
  margin: 0;
  height: 3.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentExpaded {
  min-height: 6.5em;
  height: auto;
  text-overflow: clip;
  overflow-x: auto;
}

.more {
  cursor: pointer;

  padding: 0 1rem 1rem 1rem;
}

.moreHidden {
  display: none;
}
