@value borderRadius: 5px;

.component * {
  box-sizing: border-box;
}

.component {
  font-family: arial;
  line-height: normal;
  border-radius: 5px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  transition: border-color 0.2s ease;
}

.component pre {
  font-size: 0.8rem;
  font-family: monospace;
}

.title {
  padding: 0.5rem 1rem;
  user-select: none;
  cursor: pointer;
}

.count {
  float: right;
}

.content {
  padding: 1rem;
  margin: 0;
  height: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentExpaded {
  min-height: 6.5em;
  height: auto;
  text-overflow: clip;
  overflow-x: auto;
}

.more {
  cursor: pointer;

  padding: 0 1rem 1rem 1rem;
}

.moreHidden {
  display: none;
}
