@value colors: "./colors.css";
@value darkBlue, darkBlueRGB, lightGray, lightGrayRGB from colors;

.component {
  background: transparent;
  color: darkBlue;
  border-color: lightGray;
}

.component pre{
  color: darkBlue;
  background-color: transparent;
}

.highlight {
  border-color: red;
}

.title {
  color: darkBlue;
  background: lightGray;
}

.title:hover {
  background: rgba(lightGrayRGB, 0.7);
}

.copyButton{
  background-color: transparent;
  border-color: lightGray;
  color: #696969;
}
