@value colors: "./colors.css";
@value darkBlue,darkBlueRGB, lightGray, lightGrayRGB from colors;

.component {
  margin: 1em;
  background: transparent;
  color: darkBlue;
  border-color: darkBlue;
}

.highlight {
  border-color: red;
}

.title {
  color: white;
  background: darkBlue;
}

.title:hover {
  background: rgba(darkBlueRGB, 0.9);
}
